* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea {
  outline: none;
}

b {
  font-weight: bold;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  color: #183153;
  background-color: #f0f1f3;
  margin: 0;
  padding: 0;
  .markdownContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
}